* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  font-size: 28px;
}

nav .navbar-nav a.nav-link {
  color: black !important;
}

.jumbotron {
  background-image: url(images/jumbotron.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.jumbotron h1 {
  font-size: 42px;
  color: rgb(0, 0, 0);
}

.jumbotron h1:nth-child(1) {
  margin-top: 120px;
}

.jumbotron h1:nth-child(2) {
  margin-top: -20px;
}

.jumbotron .btn {
  padding: 5px 50px;
  border-radius: 5px;
  background-color: #d94b4b;
  margin-top: 20px;
}

.awesomes {
  margin-top: 120px;
  position: relative;
}

.container h2 {
  text-align: center;
  font-size: 36px;
}

.awesomes img {
  width: 492px;
}

.awesomes .row {
  margin-top: 70px;
}

.awesomes h4 {
  font-size: 32px;
  margin-bottom: 20px;
}

.awesomes .frame {
  margin-bottom: 40px;
  display: none;
}

.awesomes .kanan {
  margin-bottom: 10px;
}

.awesomes p {
  font-size: 18px;
  margin-bottom: 20px;
}

.awesomes img.frame-right {
  z-index: -1;
  margin-top: 15px;
}

.videos {
  margin-top: 70px;
}

.videos .col-lg {
  margin: 20px 0;
}

/* Gallery */

.gallery {
  display: grid;
  max-width: 100%;
  gap: 10px;
  grid-template-areas:
    "img1"
    "img2"
    "img3"
    "img4"
    "img5"
    "img6";
  margin: 20px;
  grid-auto-flow: dense;
}

/* footer */

footer {
  padding: 20px;
  background-color: black;
  color: white;
}

footer h3 {
  font-size: 20px;
}

footer p {
  font-size: 14px;
}

footer .sub {
  margin-top: 20px;
}

.sub .btn {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  border: none;
  padding: 5px 25px;
  text-align: center;
}

.sub .btn:hover {
  background-color: rgba(255, 0, 0, 1);
}

.fa {
  font-size: 28px;
  margin-top: 15px;
  margin-right: 20px;
  color: white;
}

/* animation */
.frame {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s ease-in-out;
}

.img-appear {
  opacity: 0;
  transform: translate(-20px, -10px);
  transition: all 0.7s ease-in-out 0.5s;
}

.img-caption {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1.5s ease-in-out;
}

.appear {
  opacity: 1;
  transform: translate(0, 0);
}

.scroll-top a {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: blue;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 4;
}
@media (min-width: 990px) {
  .nav-link {
    margin-right: 30px;
  }

  .jumbotron {
    height: 640px;
    margin-top: -80px;
  }

  .jumbotron h1 {
    font-size: 64px;
  }

  .panel-info {
    margin-top: -90px;
  }

  .awesomes .frame {
    display: block;
  }

  .awesomes img.utama {
    position: absolute;
    top: 30px;
    left: 50px;
  }

  .awesomes .description {
    margin-left: 50px;
  }

  .awesomes img.frame-right {
    position: absolute;
    top: -45px;
    left: 50px;
    z-index: -1;
    margin-top: 15px;
  }

  .gallery {
    display: grid;
    max-width: 100%;
    gap: 10px;
    grid-template-areas:
      "img1 img1 img2 img3"
      "img4 img4 img2 img5"
      "img4 img4 img6 img6";
    margin: 10px;
    grid-auto-flow: dense;
  }

  #gallery {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .gallery img {
    width: 100%;
  }

  .gallery .image1 {
    grid-area: img1;
  }

  .gallery .image2 {
    grid-area: img2;
  }
  .gallery .image3 {
    grid-area: img3;
  }
  .gallery .image4 {
    grid-area: img4;
  }
  .gallery .image5 {
    grid-area: img5;
  }
  .gallery .image6 {
    grid-area: img6;
  }
}

/* review part */
.review {
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}
.review h2 {
  margin-bottom: 30px;
}
.review-container {
  border-radius: 15px;
  background: #fbfbfb;
  box-shadow: 20px 20px 60px #d5d5d5, -20px -20px 60px #ffffff;
}

.img-container {
  position: relative;
  margin: 0 auto;
  width: 245px;
  margin-bottom: 30px;
}

.img-container img {
  width: 245px;
}

.animation {
  animation: fade 0.5s ease-out;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#person-img {
  position: relative;
  margin-top: 20px;
}

.img-container::before {
  content: "";
  position: absolute;
  width: 245px;
  height: 175px;
  border: 1px solid #dddddd;
  border-radius: 10px 30px;
  top: 35px;
  left: -15px;
}

#job {
  margin-top: -15px;
  color: #d94b4b;
}

#text {
  width: 500px;
  margin: 0 auto;
  text-align: justify;
  line-height: 20px;
}

.button-container {
  padding: 30px 0;
}
@media (max-width: 375px) {
  .jumbotron btn {
    width: 80%;
  }

  .jumbotron {
    height: 460px;
  }
}

@media (max-width: 540px) {
  #text {
    width: 90%;
    text-align: center;
  }
}

