* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  font-size: 28px;
}

a.nav-link {
  color: rgb(0, 0, 0) !important;
}

.jumbotron {
  background-image: url(images/jumbotron.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
}



.jumbotron h1 {
  font-size: 42px;
  color: rgb(0, 0, 0);
}

.jumbotron h1:nth-child(1) {
  margin-top: 120px;
}

.jumbotron h1:nth-child(2) {
  margin-top: -20px;
}

.jumbotron .btn {
  padding: 5px 50px;
  border-radius: 10px;
  background-color: #d94b4b;
  margin-top: 20px;
}



.panel-info {
  margin-top: -120px;
}

.panel-box {
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  border-radius: 12px;
  text-align: center;
}

.info {
  align-items: center;
  margin-top: 15px;
  font-size: 24px;
}

.info p:nth-child(2) {
  margin-top: -15px;
}

.awesomes {
  margin-top: 120px;
  position: relative;
}

.container h2 {
  text-align: center;
  font-size: 36px;
}

.awesomes img {
  width: 492px;
}

.awesomes .row {
  margin-top: 70px;
}

.awesomes h4 {
  font-size: 32px;
  margin-bottom: 20px;
}

.awesomes .frame {
  margin-bottom: 40px;
  display: none;
}

.awesomes .kanan {
  margin-bottom: 10px;
}

.awesomes p {
  font-size: 18px;
  margin-bottom: 20px;
}

.awesomes img.frame-right {
  z-index: -1;
  margin-top: 15px;
}

.videos {
  margin-top: 70px;
}

.videos .col-lg {
  margin: 20px 0;
}

/* Gallery */

.gallery {
  display: grid;
  max-width: 100%;
  gap: 10px;
  grid-template-areas: 
  'img1'
  'img2'
  'img3'
  'img4'
  'img5'
  'img6'
  ;
  margin: 20px;
  grid-auto-flow: dense;
}

/* footer */

footer {
  padding: 20px;
  background-color: black;
  color: white;
}

footer h3 {
  font-size: 20px;
}

footer p {
  font-size: 14px;
}

footer .sub {
  margin-top: 20px;
}

.sub .btn {
  background-color: rgba(255,0,0,0.8);
  color: white;
  border: none;
  padding: 5px 25px;
  text-align: center;
}

.sub .btn:hover {
  background-color: rgba(255,0,0,1);
}

.fa {
  font-size: 28px;
  margin-top: 15px;
  margin-right: 20px;
  color: white;
}

@media (min-width: 990px) {
  .nav-link {
    margin-right: 30px;
  }
  
  .jumbotron {
    height: 640px;
    margin-top: -80px;
  }

  .jumbotron h1 {
    font-size: 64px;
  }

  .panel-info {
    margin-top: -90px;
  }

  .awesomes .frame {
    display: block;
  }

  .awesomes img.utama {
    position: absolute;
    top: 30px;
    left: 50px;
  }

  .awesomes .description {
    margin-left: 50px;
  }

  .awesomes img.frame-right {
    position: absolute;
    top: -45px;
    left: 50px;
    z-index: -1;
    margin-top: 15px;
  }

  .gallery {
    display: grid;
    max-width: 100%;
    gap: 10px;
    grid-template-areas:
      "img1 img1 img2 img3"
      "img4 img4 img2 img5"
      "img4 img4 img6 img6";
    margin: 10px;
    grid-auto-flow: dense;
  }

  .gallery img {
    width: 100%;
  }

  .gallery .image1 {
    grid-area: img1;
  }

  .gallery .image2 {
    grid-area: img2;
  }
  .gallery .image3 {
    grid-area: img3;
  }
  .gallery .image4 {
    grid-area: img4;
  }
  .gallery .image5 {
    grid-area: img5;
  }
  .gallery .image6 {
    grid-area: img6;
  }
}

@media (max-width: 375px) {
  .btn {
    width: 80%;
  }

  .jumbotron {
    height: 460px;
  }
}
